<div class="row">
    <div class="col justify-content-center">
        <h2 class="login">Login</h2>
        <form class="form login-form">
            <div class="form-group">
                <input class="form-input" type="text" placeholder="enter your username" id="username-login"/>
            </div>
            <div class="form-group">
                <input class="form-input" type="password" placeholder="enter your password" id="username-login"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div>
                <p>Sign Up Instead</p>
            </div>
        </form>
    </div>
</div>

{{!-- <script src="./js/login.js"></script> --}}