<div class="row">
    <div class="col justify-content-center">
        {{!-- Title --}}
        <h2 class="login">Login</h2>
        {{!-- Login Form --}}
        <form class="form login-form">
            {{!-- Login Username --}}
            <div class="form-group">
                <input class="form-input" type="text" placeholder="enter your username" id="username-login"/>
            </div>
            {{!-- Login Password --}}
            <div class="form-group">
                <input class="form-input" type="password" placeholder="enter your password" id="password-login"/>
            </div>
            {{!-- Login Submit button --}}
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
            {{!-- Got to Sign up Page --}}
            <div>
                <p>Sign Up Instead</p>
            </div>
    </div>
</div>

<script src="./js/login.js"></script>