//Username


//Create a Post

//Title input

//Content input

//Display post and delete button

<div class="test">
    <div class="container">
        <div class="row">
            <h2 class="post-title">Title</h2>
        </div>
        <div class="col-4">
            <p class="created-by">Created by: UserName on thisDate</p>
        </div>
        <div class="description">
            <p class="description">description data</p>
        </div>
    </div>
</div>

<form class="new-comment">
<div class="areatext">
    <textarea id="comment description" name="comment body"
    placeholder="add a comment here"
    cols="30"
    rows="2"></textarea>
</div>
<div class="button-comment">
    <button class="button btn" type="submit">Add commment</button>
</div>
</form>

<h2 class="text center">Comments</h2>
<div class="comment-container">
    <p class="text-center commentT"> Comment content</p>
    <p class="text-center commentO"><span></span>Created by userName on date<span></span></p>
</div>

<script src="/js/comments.js"></script>
