<div>
{{!-- Title --}}
<h2 class="signup">Sign Up</h2>

<form class="form signup-form">
{{!-- UserName --}}
    <div class="form group">
        <input class="form-input" type="text" placeholder="enter a username" id="username-signup"/>
    </div>

{{!-- Password --}}
    <div class="form group">
        <input class="form-input" type="password" placeholder="enter a password" id="password-signup"/>
    </div>

{{!-- Submit --}}
    <div class="form group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>

{{!-- Go back to login --}}

</form>
    <div>
        <p>Go back to Login</p>
    </div>
</div>

<script src="./js/signup.js"></script>